{% extends "base.twig" %}
{% set active_link = 'contact' %}
{% set pageTitle = entry.seoTitle ? entry.seoTitle : entry.title %}
{% set pageDescription = entry.seoDescription ? entry.seoDescription : entry.title %}

{% block content %}
    <div class="m-body">
        <div class="container">
            <div class="site-heading">
                {% if entry.header != '' %}
                    <h1>
                        {{entry.header|striptags('<br>')|raw}}
                    </h1>
                {% endif %}
                {% if entry.subheader != '' %}
                    <p>{{entry.subheader|striptags('<br>')|raw}}</p>
                {% endif %}
            </div>
            <div class="pt-lg-5 pb-10 row">
                <div class="col-12 col-lg-6">
                    <h2 class="heading contact">Free Quote</h2>
                    <p class="form-blurb">{{entry.contentText|striptags('<br>')|raw}}</p>
                    {% set formId = 'Contact Page Form' %}
                    {% set servicesQuery = craft.entries()
                        .section('services')
                        .all() %}
                    <form method="post" id="contactPageForm" class="quote-form free ajaxForm" action="" accept-charset="UTF-8">
                        {{ csrfInput() }}
                        <input type="hidden" name="message[formName]" value="{{formId}}">
                        <input type="hidden" name="action" value="contact-form/send">
                        <input name="fromName" type="text" placeholder="Your Name">
                        <input name="fromEmail" type="text" placeholder="Your Email">
                        <input name="message[Phone]" type="text" placeholder="Your Phone">
                        <input name="message[Address]" type="text" placeholder="Property Address">
                        <select name="message[Enquiry]" class="custom-select" id="inputGroupSelect01">
                            <option selected disabled>Enquiry</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <p class="select">Select your Services</p>
                        <div class="select-services">
                            {% for service in servicesQuery %}
                            <label class="radio-container">{{service.title}}
                                <input type="checkbox" name="message[Services][]" value="{{service.title}}">
                                <span class="checkmark"></span>
                            </label>
                            {% endfor %}
                        </div>
                        <textarea name="message[body]" type="text" rows="1" placeholder="Additional Info"></textarea>
                        <div class="success">Submission successful</div>
                        <div class="fail">Submission failed</div>
                        <button type="submit" class=" outline-btn green">Submit</button>
                    </form>
                </div>
                <div class="col-12 col-lg-5 offset-lg-1">
                    <h2 class="heading contact">Contact Details</h2>
                    <p class="blurb">{{entry.contentText2|striptags('<br>')|raw}}</p>
                    <ul class="contact-details">
                        <li>
                            <a href="tel:{{ contactData.phoneNumber|replace({' ': '', '(':'', ')': ''}) }}">{{contactData.phoneNumber}}</a>
                        </li>
                        <li>
                            <a href="mailto:{{contactData.emailAddress}}">{{contactData.emailAddress}}</a>
                        </li>
                        <li>
                            <a href="{{entry.contactAddressLink}}" target="_blank">{{entry.contactAddressText|striptags('<br>')|raw}}</a>
                        </li>
                    </ul>
                    <div class="map">
                        <iframe frameborder="0" style="border:1px solid; width: 100%; height: 100%;" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJXRpBs9xNDW0RafyIWLORUnU&key=..." allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
