{% extends "base.twig" %}
{% set active_link = 'homeowners' %}

{% block content %}
    <div class="m-body">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="site-heading">
                        {% if entry.header != '' %}
                            <h1>
                                {{entry.header|striptags('<br>')|raw}}
                            </h1>
                        {% endif %}
                        {% if entry.subheader != '' %}
                            <p>{{entry.subheader|striptags('<br>')|raw}}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    {% if entry.sectionHeader1 != '' %}
                        <h2 class="heading section">
                            {{entry.sectionHeader1|striptags('<br>')|raw}}
                        </h2>
                    {% endif %}
                    {% if entry.associatedImages|length %}
                        {% set assoc_image = entry.associatedImages.one().url %}
                        <div class="square-image" style="background-image: url({{assoc_image}})"></div>
                    {% endif %}
                </div>
                <div class="col-12 col-lg-6 offset-lg-1">
                    <div class="accordion-wrapper">
                        {% if entry.sectionHeader2 != '' %}
                            <h2 class="heading section">
                                {{entry.sectionHeader2|striptags('<br>')|raw}}
                            </h2>
                        {% endif %}

                        {% if entry.servicesToDisplay|length %}
                            {% include('parts/services_accordion') with { 'services':entry.servicesToDisplay } %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if entry.testimonialsToDisplay|length %}
        {% include('parts/testimonials') with 
        { 
            'testimonials': entry.testimonialsToDisplay,
            'displayRatings': entry.displayRatings == '1' ? true : false
        } 
    %}
    {% endif %}

    {% if entry.logosSectionImages|length %}
        <div class="logo-container">
            <div data-aos="fade-up" data-aos-offset="200" class="sm-container">
                <h1 class="big-heading">{{entry.logosSectionHeader}}</h1>
                <div class="row">
                    {% for oneimage in entry.logosSectionImages.all() %}
                        <div class="col-6 col-lg-2 order-lg-{{oneimage.orderNumber}}">
                            <div class="logo" style="background-image: url({{oneimage.url}})"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if ( entry.videoIframeCode != '' and entry.videoThumbnail|length )%}
        {% include('parts/videosection') with 
            {
            'iframecode': entry.videoIframeCode,
            'thumbnail':entry.videoThumbnail.one().url,
            'heading': entry.videoSectionHeader 
            }
          %}
    {% endif %}

    {% if entry.bottomFormType == 'type1' %}
        {% include('parts/bottomFormType1') %}
    {% else %}
        {% include('parts/bottomFormType2') %}
    {% endif %}
{% endblock %}
