{% extends "base.twig" %}
{% set pageTitle = entry.seoTitle ? entry.seoTitle : entry.title %}
{% set pageDescription = entry.seoDescription ? entry.seoDescription : entry.title %}
{% set bgimage = entry.headerImage|length ? entry.headerImage.one().url : '' %}

{% block content %}
    <div class="relative grey">
        <div class="landing-image" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{bgimage}});">
            <div class="content">
                <h1>{{entry.header|striptags}}</h1>
                <p>{{entry.subheader}}</p>
            </div>
        </div>
        <div class="sm-container absolute">
            <div class="row">
                {% for onelink in entry.linkBlocks %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="textbox featured">
                            <h2 class="heading">{{onelink.heading}}</h2>
                            <a href="{{onelink.destination|length ? onelink.destination.one().url : '#'}}" class="arrow-link">View Services<span class="arrow"></span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if entry.logosSectionImages|length %}
            <div class="logo-container">
                <div data-aos="fade-up" data-aos-offset="200" class="sm-container">
                    <h1 class="big-heading">{{entry.logosSectionHeader}}</h1>
                    <div class="row">
                        {% for oneimage in entry.logosSectionImages.all() %}
                            <div class="col-6 col-lg-2 order-lg-{{oneimage.orderNumber}}">
                                <div class="logo" style="background-image: url({{oneimage.url}})"></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% if entry.contentBlock|length %}
        <div class="pt-10 pb-10">
            <div class="container">
                {% for oneblock in entry.contentBlock %}
                    {% include('parts/contentblock') with { 'oneblock': oneblock } %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if ( entry.videoIframeCode != '' and entry.videoThumbnail|length )%}
        {% include('parts/videosection') with 
            {
            'iframecode': entry.videoIframeCode,
            'thumbnail':entry.videoThumbnail.one().url,
            'heading': entry.videoSectionHeader 
            }
          %}
    {% endif %}

    {% if entry.bottomFormType == 'type1' %}
        {% include('parts/bottomFormType1') %}
    {% else %}
        {% include('parts/bottomFormType2') %}
    {% endif %}

{% endblock %}
